/*

Tooplate 2115 Marvel
https://www.tooplate.com/view/2115-marvel

*/

@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
}

.full-screen {
  padding: 1rem 0;
}

.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}
a:hover {
  color: #2CB9FF !important;
}

.navbar-brand .uil {
  font-size: 40px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b, strong {
  font-weight: bold;
}

.custom-btn {
  background: #eee;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}
.custom-btn:hover {
  color: #2CB9FF;
}
.custom-btn.custom-btn-bg {
  background: #474559;
  color: #ffffff;
}
.custom-btn.custom-btn-bg:hover {
  background: #2CB9FF;
  color: #ffffff !important;
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 100%;
  position: relative;
}

.animated-item {
  color: #2CB9FF;
}

.animated-item {
  font-size: 38px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  will-change: transform;
  transition: transform 200ms linear;
}
.navbar[class*="-unpinned"] {
  transform: translate(0, -150%);
}
.navbar[class*="-pinned"] {
  transform: translate(0, 0);
}
.navbar[class*="headroom--not-top"] {
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}
.nav-link span {
  position: relative;
  display: inline-block;
}
.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #2CB9FF;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
  display: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
}
.navbar-toggler .navbar-toggler-icon {
  background: #212121;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s ease;
  position: relative;
}

.copyright-text {
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.google-map iframe {
  width: 100%;
}

.contact-form {
  position: relative;
}
.contact-form .form-control {
  background: transparent;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  font-weight: bold;
  margin: 16px 0;
  border-radius: 10px;
}
.contact-form .form-control:not(textarea) {
  height: 48px;
}
.contact-form .form-control:hover, .contact-form .form-control:focus {
  border-color: #2CB9FF;
}
.contact-form .submit-btn {
  background: #2CB9FF;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;

}
.contact-form .submit-btn:hover {
  background: #474559;
}

.contact-info {
  background: #474559;
  border-radius: 0 0 3px 3px;
  position: relative;
  bottom: 8px;
}
.contact-info p, .contact-info a {
  color: #f7f3f3;
}

.social-links .uil {
  color: #f7f3f3;
  font-size: 20px;
  display: block;
  margin: 5px 0;
}
.social-links .uil:hover {
  color: #2CB9FF;
}

@media (min-width: 1270px) {
  .owl-theme .owl-dots {
    position: relative;
    bottom: 50px;
  }
  .text_funcionament {
    margin-left: 30px;
  }
  .botons_panell {
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .mod_dades_inp {
    width: 300px;
  }
  .marge {
    margin-right: 20px;
  }
  .boto_control_usu {
    height: 130px;
  }
  .botons_usu {
    font-size: 16px;
  }
  .index_pujar_arxius {
    width: 45%;
  }
  #llista-usuaris {
    width: 25%;
  }
  #finestra-xat {
    width: 75%;
  }
  
}

@media (max-width: 1270px) {
  .text_funcionament {
    margin-left: 30px;
  }
  .botons_panell {
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .mod_dades_inp {
    width: 300px;
  }
  .marge {
    margin-right: 20px;
  }
  .boto_control_usu {
    height: 130px;
  }
  .botons_usu {
    font-size: 16px;
  }
  .index_pujar_arxius {
    width: 45%;
  }
  #llista-usuaris {
    width: 25%;
  }
  #finestra-xat {
    width: 75%;
  }
}


@media (max-width: 991px) {
  .full-screen {
    padding-bottom: 4rem;
    padding-top: 2rem;
  }

  .about-image {
    margin-top: 4em;
  }

  .mobile-mt-2,
  .contact-form {
    margin-top: 2em;
  }

  .contact-info {
    padding: 0 2rem;
  }
  .text_funcionament {
    margin-left: 30px;
  }
  .contact_contents {
    flex-direction: column;
  }
  .botons_panell {
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .mod_dades_inp {
    width: 300px;
  }
  .marge {
    margin-right: 20px;
  }
  .boto_control_usu {
    height: 130px;
  }
  .botons_usu {
    font-size: 16px;
  }

  .index_pujar_arxius {
    width: 100%;
  }
  .pujar_arxius {
    align-content: center;
  }
  #llista-usuaris {
    width: 25%;
  }
  #finestra-xat {
    width: 75%;
  }
  .videotext_funcionament {
    flex-direction: column;
  }  

}
@media (max-width: 767px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
  }

  .animated-item {
    font-size: 28px;
  }

  .navbar-collapse {
    background: #ffffff;
    text-align: center;
    padding-bottom: 20px;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 3px 20px;
  }
  .text_funcionament {
    margin-left: 0px;
  }
  .funcionament_contents {
    flex-direction: column-reverse;
  }
  .contact_contents {
    flex-direction: column;
  }
  .link_panell {
    width: 100%;
    margin-left: -15px;
  }
  .botons_panell {
    width: 100%;
  }
  .marge {
    margin-right: 20px;
  }
  .boto_control_usu {
    flex-direction: column;
    height: auto;
  }
  .info_usu {
    margin-bottom: 15px;
  }
  .crear_usu_boto {
    margin-bottom: 15px;
  }
  .botons_usu {
    font-size: 13px;
  }
  .index_pujar_arxius {
    width: 100%;
  }
  .pujar_arxius {
    align-content: center;
  }
  .panell_missatges {
    flex-direction: column;
  }
  #llista-usuaris {
    width: 100%;
  }
  #finestra-xat {
    width: 100%;
  }
  .videotext_funcionament {
    flex-direction: column;
  }

}
@media (max-width: 580px) {
	.animated-info {
		min-width: 100%;
	}
  .animated-item {
    font-size: 30px;
  }

  .custom-btn-group {
    text-align: center;
  }

  .custom-btn {
    display: block;
    margin: 10px 0;
  }

  .timeline-info small {
    display: block;
    margin: 10px 0 0 0;
  }
  .text_funcionament {
    margin-left: 0px;
  }
  .funcionament_contents {
    flex-direction: column-reverse;
  }
  .contact_contents {
    flex-direction: column;
  }
  .link_panell {
    width: 100%;
    margin-left: -15px;
  }
  .botons_panell {
    width: 100%;
  }
  .contingut_panell_dades {
    align-items: center;
    flex-direction: column;
  }
  .boto_control_usu {
    flex-direction: column;
    height: auto;

  }
  .info_usu {
    margin-bottom: 15px;
  }
  .crear_usu_boto {
    margin-bottom: 15px;
  }
  .botons_usu {
    font-size: 13px;
  }
  .index_pujar_arxius {
    width: 100%;
  }
  .pujar_arxius {
    align-content: center;
  }
  .panell_missatges {
    flex-direction: column;
  }
  #llista-usuaris {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  #finestra-xat {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .videotext_funcionament {
    flex-direction: column;
  }

}
@media (max-width: 320px) {
  .animated-text {
    margin-top: 0;
  }

  .about-text {
    text-align: center;
  }

  .full-screen {
    padding: 4rem 0;
  }

  .mobile-block {
    display: block;
  }

  .contact-info {
    flex-direction: column;
  }

  .social-links li {
    display: inline-block;
    vertical-align: top;
  }

  .text_funcionament {
    margin-left: 0px;
  }
  .funcionament_contents {
    flex-direction: column-reverse;
  }
  .contact_contents {
    flex-direction: column;
  }
  .link_panell {
    width: 100%;
    margin-left: -15px;
  }
  .botons_panell {
    width: 100%;
  }
  .contingut_panell_dades {
    align-items: center;
    flex-direction: column;
  }
  .boto_control_usu {
    flex-direction: column;
    height: auto;

  }
  .info_usu {
    margin-bottom: 15px;
  }
  .crear_usu_boto {
    margin-bottom: 15px;
  }
  .botons_usu {
    font-size: 13px;
  }
  .index_pujar_arxius {
    width: 100%;
  }

  .pujar_arxius {
    align-content: center;
  }

  .panell_missatges {
    flex-direction: column;
  }
  #llista-usuaris {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
  #finestra-xat {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .videotext_funcionament {
    flex-direction: column;
  }
}


/* INDEX.PHP secció pujar arxius */

.seccio_index {
  margin-left: 15px;
  margin-bottom: 60px;
}
.pujar_arxius_index {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
  justify-content: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 24px;
  height: 100%;
  flex-direction: column;
  padding: 40px;
  margin-right: 15px;
}

.seccio_panell_index {
  justify-content: space-between;
  margin-bottom: -30px;
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
}

.form_pujar_arxius {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.custom-file-upload {
  background: #2CB9FF;
  border-radius: 15px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 10px 20px;
}
.custom-file-upload:hover {
  background-color: #474559; /* Azul más oscuro */
}
.input_arxiu {
  display: none;
}

.pujar_arxiu_submit {
  background: #474559;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 10px 20px;
}
.pujar_arxiu_submit:hover {
  background-color: #2CB9FF; /* Azul más oscuro */
}

.sortida_analisi {
  margin-top: 15px;
}


/* INDEX.PHP secció funcionament */

.contents {
  display: flex;
  margin-top: 45px;
  flex-direction: column;
}

.videotext_funcionament {
  display: flex;
  margin-top: 15px;
  margin-right: 15px;
  gap: 25px;
}


/* INDEX.PHP secció contacte */

.contact_contents {
  width: 100%;
  display: flex;
  margin-top: 30px;

}
.contact_formulari {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
  padding: 20px;
  width: max-content;
  display: flex;
  margin-right: 15px;
}


/* INICI.PHP i REGISTRAR.PHP */

.seccio_reg_log {
  justify-content: center;
  text-align: center;
}
.formulari_reg_log {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
  padding: 20px;
  width: max-content;
  display: flex;
}
.password-container {
  position: relative;
}
.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.adverts {
  font-size: 10pt;
}


/* PANELL_USUARI.PHP */

.seccio_panell {
  justify-content: center;
  text-align: center;
  margin-bottom: -30px;
}
.contingut_panell {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.botons_panell {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
  padding: 20px;
  height: 150px;
  
  align-content: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: color 0.4s ease;

  margin-top: 10px;
  margin-bottom: 10px;

  position: relative;
}

.botons_panell:hover {
  color: #2CB9FF;
  font-weight: bold;
}

.advertencia {
  position: absolute;
  top: -3px; /* Ajusta la posició vertical */
  right: -6px; /* Ajusta la posició horitzontal */
  width: 25px;
  height: 25px;
  background-color: #2CB9FF;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  border: 2px solid white; /* Opcional: afegeix un marge blanc */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.text_foto {
  display: flex;
  justify-content: center;
}
.text_foto img {
  margin-left: 15px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  
  border-radius: 100%;

  border: 2px solid white; /* Opcional: afegeix un marge blanc */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.text_foto p {
  margin-bottom: -10px;
  margin-top: 6px;
}


/* COMPTE.PHP */

.form_dades_mod {
  text-align: left;
}
.label_mod {
  font-size: 10pt;
  margin-bottom: -10px;
  margin-top: -7px;
}

.form_modificar {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
  padding: 20px;
  width: max-content;
  display: flex;
}

.contingut_panell_dades {
  display: flex;
  
  justify-content: center;
  margin: 30px;
  
}

.foto_perfil {
  width: 150px;
  height: 150px;
  object-fit: cover;

  border-radius: 100%;
  border: 2px solid white; /* Opcional: afegeix un marge blanc */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.columna {
  flex-direction: column
}

#formModificarPass {
  margin-top: 10px;
  border-top: 0.3px solid lightgrey;
  padding-top: 20px;
}

.contra {
  width: 100%;
}


/* CONTROL_USUARIS.PHP */

.boto_control_usu {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
  padding: 20px;

  width: 100%;
  
  align-content: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: color 0.4s ease;

  margin-top: 10px;
  margin-bottom: 10px;

  position: relative;
  display: flex;
}

.info_usu {
  display: flex;
}

.boto_control_usu_img {
  width: 95px;
  height: 95px;
  object-fit: cover;

  border-radius: 100%;
  border: 2px solid white; /* Opcional: afegeix un marge blanc */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.dades_usu {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text_dades {
  margin-bottom: 0;
  font-size: 16px;
}

.botons_usu {
  align-items: center;
  margin-left: auto;
  margin-right: 15px;
  display: flex;
}

.boto_eliminar {
  background: #ff6363;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  transition: all 0.4s ease;
  padding: 10px 15px;
  margin-left: 10px;
}

.boto_eliminar:hover {
  background: #792a2a;
}

.boto_validar {
  background: #98ee74;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  transition: all 0.4s ease;
  padding: 10px 15px;
  margin-left: 10px;
}

.boto_validar:hover {
  background: #43742e;
}

.boto_fer_admin {
  background: #b8d051;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  transition: all 0.4s ease;
  padding: 10px 15px;
  margin-left: 10px;
}
.boto_fer_admin:hover {
  background: #798930;
}

.boto_treure_admin {
  background: #ff9215;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  transition: all 0.4s ease;
  padding: 10px 15px;
  margin-left: 10px;
}
.boto_treure_admin:hover {
  background: #94550c;
}

.departament_usuari_selector {
  background: #2CB9FF;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  transition: all 0.4s ease;
  padding: 10px 15px;
  margin-left: 10px;
}

.departament_usuari_selector:hover {
  background-color: #474559;
}


.botons_administracio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  justify-self: center;
  margin: 25px -3px -15px -3px;
}

/* Botón */
.btn {
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 2px 10px;
  margin: 0px 3px;
  align-content: center;
}

.btn:hover {
  color: #2CB9FF;
}

.gestionar_deps {
  display: flex;
  gap: 3px;
}

/* Fondo oscuro */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Ventana emergente */
.popup {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  z-index: 1001;

  max-width: 400px; /* Ancho máximo */
  max-height: 80%; /* Altura máxima */
  overflow-y: auto; /* Habilitar desplazamiento vertical */
  justify-items: center;

}

/* Botón cerrar (cruz) */
.close-icon {
  position: absolute;
  top: -1px;
  right: 10px;
  font-size: 25px;
  color: #333;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-weight: 800;
}

.close-icon:hover {
  color: #2CB9FF;
}


.popup_dep {
  display: none;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  z-index: 1001;
  width: 80%;
  height: 70%;
  overflow-y: auto;
  justify-items: left;
}

.info_usuari_dep {
  display: flex;
}

.foto_usuari_dep {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-right: 8px;
}

.msg_comprovacio {
  margin-top: 35px;
  margin-bottom: -20px;
  font-size: 16px;
}



/* PUJAR_FITXERS.PHP */

.pujar_arxius {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
  justify-content: center;
  display: flex;

  flex-wrap: wrap;
  margin-top: 24px;

  flex-direction: column;
  padding: 20px;

  width: 81%;
  justify-self: center;
}

.pujar_arxius_carpetes {
  display: flex;
  align-items: flex-start;
  justify-content: space-between
}

.explorador {
  justify-content: left;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.llista_fitxers {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  flex-direction: row;
  padding: 20px;
  width: 100%;
  justify-self: center;
  margin-bottom: 10px;
  justify-content: space-between;
}


.botons_pujar {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}


.info_pujada {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
  padding: 10px 20px 10px 20px;
  margin-bottom: 15px;
  margin-top: -10px;
}

.info_pujada p {
  font-size: 12pt;
  margin-bottom: 7px;
}

.info_ruta {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#crear-carpeta {
  height: calc(1.5em + 0.75rem + 2px);
}

.botons_arxius {
  gap: 10px;
  display: flex;
}

.compartir_arxius {
  display: flex;
  gap: 60px;
}

.popup_comp {
  display: none;
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  z-index: 1001;
  width: fit-content;

  overflow-y: auto;
  justify-items: left;
}

.boto_compartir {
  background: #2CB9FF;
  border-radius: 15px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 10px 20px;
  margin-top: 10px;
}

.llista_fitxers_comp {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  padding: 20px;
  width: 100%;
  justify-self: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.fitxers_compartits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.compartit_per {
  font-size: 10pt;
  color: gray;
}


.contingut_explorador {
  display: flex;
  justify-content: space-between;
}



/* Estils per al buscador */
.buscador-container {
  position: relative;
  margin-bottom: 20px;
  max-width: 500px;
}

.buscador-container input {
  padding-left: 35px;
  border-radius: 20px;
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.buscador-container i {
  position: absolute;
  left: 12px;
  top: 10px;
  color: #777;
}

/* Estil per als elements filtrats */
.filtrat {
  display: none;
}

.buscador_crear {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.compartir {
  display: flex;
  flex-direction: column;
}





/* registre.php */

.columnes_logs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  margin-top: 20px;
  width: 80%;
  justify-self: center;
}

.logs {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);

  padding: 20px;
  width: 31%;
  justify-self: center;

  font-size: 10pt;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: overlay;
}


.linia {
  width: 100%;
  height: 0.3px;
  background-color: rgb(137 137 137 / 23%);
  margin: 7px 0;
}

.text_logs {
  text-align: left;
}

.admin_logs {
  justify-self: center;
  display: flex;
  justify-content: right;
  width: 80%;
  
}

.admin_logs a {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  margin-top: 15px;
}

.nom {
  color: #495057e0;
}

.filtre-dates {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.filtre-dates label {
  font-weight: 600;
  margin-right: 5px;
  margin-left: 10px;
}
.filtre-dates input[type="date"] {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ced4da;
}
.filtre-dates button {
  margin-left: 10px;
  padding: 5px 15px;
  border: 0px;
}

.filtre-dates button:hover {
  background-color: #474559;
  border-color: #474559;
  color: #fff;
}


.filtre-dates .reset-btn {
  margin-left: 5px;
  background-color: #2CB9FF;
  border: 0px;
  color: #fff;
  padding: 5px 15px;
}

.filtre-dates .reset-btn:hover {
  background-color: #474559;
  border-color: #474559;
  color: #fff;
}



/* missatges.php */

.panell_missatges {
  display: flex;
  justify-content: space-evenly;
}

#llista-usuaris {
  justify-items: left;
  padding-top: 2px;
  padding-left: 2px;
}

#finestra-xat {
  margin-top: 8px;
}

.usuari {
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.4s ease;

}

.usuari:hover {
  font-weight: bold;
  color: #2CB9FF;
}

.usuari.actiu {
  font-weight: bold;
  border-left: 4px solid #2CB9FF;

  color: #2CB9FF;

  padding-left: 10px;
}

.titol_xat {
  justify-self: left;
  font-size: 10pt;

  color: rgba(0, 0, 0, 0.5);
}

#missatges {
  border-radius: 20px;
  overflow-y:auto; 
  padding:20px;
  height:350px;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
}

.enviar_text {
  display: flex;
}

.boto_enviar {
  align-self: center;
  height: 40px;
  border-radius: 17px;
  color: #ffffff;
  background-color: #2CB9FF;
  font-weight: bolder;
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
  border: 0px;
  font-size: 10pt;
  margin-left: 7px;
  padding-left: 12px;
  padding-right: 12px;
  transition: all 0.4s ease;
}

.boto_enviar:hover {
  background-color: #474559;
}

.missatge {
  max-width: 70%;
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 15px;
  clear: both;
}

.missatge.enviat {
  background-color: #d9f2ff;
  text-align: right;
  margin-left: auto;
  width: fit-content;
}

.missatge.rebut {
  background-color: #f1f0f0;
  text-align: left;
  margin-right: auto;
  width: fit-content;
}

.text_place {
  border-radius: 17px;
}


.data-missatge {
  font-size: 0.75rem;
  color: #888;
  margin: 2px 10px 10px 10px;
}

.data-missatge.dreta {
  text-align: right;
  margin-right: 0px;
}

.data-missatge.esquerra {
  text-align: left;
  margin-left: 0px;
}

.imatge_missatges {
  height: 95%;
}
