RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php



RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html


# Bloquejar l'accés a tots els directoris
Options -Indexes

# Bloquejar l'accés a fitxers específics com .htaccess i .htpasswd
<FilesMatch "^\.">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Bloquejar l'accés a tots els fitxers Python
<FilesMatch "\.py$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Bloquejar l'accés a composer.lock i composer.json
<FilesMatch "^(composer\.lock|composer\.json)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>


# Redirecció a una pàgina personalitzada per a errors
ErrorDocument 403 /forbidden.html
ErrorDocument 404 /not-found.html
